body {
}

h2 {
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    
}

.info{
    margin-top: 55px;
    font-size: x-large;
    margin-left: 35px;
}
