.tabs{
    color: white;
}







/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: black;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid gold;
    outline: none;
    transition: 0.4s;
    color: gold;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: darkblue;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
    border:2px solid gold;
}
