body {
    background: url("/images/huskie.jpeg") no-repeat center center fixed;
    
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}





.tabs {
    color: black;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #393f4d;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid #feda6a;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    color: gold;
    margin: 1px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: dimgray;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    border: 2px solid #feda6a;
}
