body {
}



@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Philosopher-Regular.ttf);
}

.title {
color: #ffa500 !important;
font-family: myFirstFont;
  
}

.navbar {
    box-shadow: inset 3px 3px 60px 6px rgb(255, 216, 0);
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    
}

.copyright{
    padding-left: 50%;
}

