body {
}



@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Philosopher-Regular.ttf);
}

.title {
color: #ffa500 !important;
font-family: myFirstFont;
  
}

.navbar {
    box-shadow: 3px 3px 5px 6px #ccc;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    
}

.copyright{
    padding-left: 50%;
}

