body {
}

/*@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Philosopher-Regular.ttf);
}*/

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Philosopher-Regular.ttf);
}

.title {
color: #ffa500 !important;
font-family: myFirstFont;
  
}

.navbar {
    box-shadow: 3px 3px 5px 6px #ccc;
}

