
@{
    ViewBag.Title = "AdminNavigation";
}

<h2>Admin Navigation</h2>
<br />
<br />

<ul>
    <li>@Html.ActionLink("Notifications", "Notifications", "Notifications")</li>
    <li>@Html.ActionLink("FAQ", "Index", "FAQ")</li>
    
</ul>


