<head>
    <link rel="stylesheet" type="text/css" href="~/Css/servicesCss.css" />
</head>

@{
    ViewBag.Title = "Services";
}

<div class="row">
    <h2 class="col-lg-12 col-xs-12 pageHeader">Training Classes</h2>
</div>

<br />

<div class="row">
    <div class="col-lg-5 col-xs-12 classHeader"> Basic Obedience <br />
    $400 - Four week course, 3 days a week. Hour long class.</div>

    <div class="col-lg-6 col-xs-12">RSVP required for class. 
    Updated shot records provided at the start of first class or dog may not participate. 
    Handler must disclose before hand if dog has had any issues with aggression towards other dogs or people. 
    If handler fails to disclose this information and there is an issue in class, 
    dog and handler will be asked to leave and forfeit their class payment.</div>
</div>

<br />
<hr />










