@{
    ViewBag.Title = "About";
}

@section head{
    <link href="~/Css/AboutCss.css" rel="stylesheet" id="bootstrap-css">
    <meta name="description" content="Elite K9 Tacoma WA. We have experienced dog trainers and expert services. 
          We develop your dogs ability through positive reinforcement and strengthening owner to dog relationships.">

}




<div id="wrapper">
    <img class="headImg" src="~/images/dog12.jpeg" alt="5 dogs laying on the floor" />
    <div id="main">
        <div id="content">
            <section>
                <div class="container">
                    <h1>Our Story</h1>
                    <p>
                        Elite K9 was founded in 2009 by Hanna Myers. A Tacoma based trainer who has been working with dogs for the past 21 years. She started working with search and rescue dogs at the age of eight and has been hooked ever since. Elite K9 through Hannah Myers Direction has built a strong Foundation of trust and communication between dog and owner. We rebuild relationships and strengthen bonds. Every training class is tailored to fit the needs of each individual and their dog. Classes are kept small, so as to ensure each client and their dog gets adequate attention from the trainer. All dogs are vet checked and temperament tested before classe to ensure a safe working environment, where everyone can learn and have fun.
                        Our trainers are experienced not only in dog behavior but also in communication. We teach you, the owner to become your dog's trainer, companion, leader, and respected friend. Elite K9, through positive reinforcement training methods, coupled with cue and correction training, will guide you to a better working relationship with your companion.
                    </p>
                </div>
            </section>

        </div>
    </div>
</div><!-- /#wrapper -->
