@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<head>
<link href="~/Css/AboutCss.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector("header");
            if (distanceY > shrinkOn) {
                classie.add(header,"smaller");
            } else {
                if (classie.has(header,"smaller")) {
                    classie.remove(header,"smaller");
                }
            }
        });
    }
    window.onload = init();</script>
</head>



<body>
    <div id="wrapper">   
            <img class="headImg" src="~/images/dog12.jpeg" alt="dogs" />
            <div id="main">
                <div id="content">
                    <section>
                        <div class="container">
                            <h1>Our Story</h1>
                            <p>Elite K9 is owned and run by Hanna Myers. A Tacoma based trainer who has been training for the past 16 years. Elite K9 offers everything from basic obedience to, agility, sports work and  specialized service dog task training and  public access training. Hanna Myers has been working with and training service dogs for over 16 years. Each client is given one on one personalized training. No group sessions. Our training methods use positive reinforcement and cue and correction training. We do not employ choke chains, pinch collars, E-collars or any dominant or fear tactic training. </p>
                            <p>
                                As per ADA Law any client who is seeking service dog training must qualify and have been classified by a medical professional as being declared disabled.
                                We do not train seeing eye or guide dogs for the blind. However we do train diabetic, seizure alert-response dogs, psychiatric, PTSD, hearing alert, mobility and autism service dogs.
                                If you have any further questions please feel free to contact us at the number listed above. We are always happy and willing to answer all your training questions.
                            </p>
                            <p>
                                <a href="https://www.facebook.com/pratik.chauhan.cp">« Connect With Me | Chauhan PRatik</a><br>
                                <a href="http://bootsnipp.com/cppratikcp">« Go back to all tutorials?</a>
                            </p>
                        </div>
                    </section>
                
            </div>
        </div>
    </div><!-- /#wrapper -->
</body>
    