@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Elite K_9</strong>
    <br>5617 South Tacoma Way
    <br>Tacoma, Washington
    <br>
</address>
<address>
    <abbr title="Phone">P:</abbr>(253) 209-5893
    <br>
    <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
</address>