@{
    ViewBag.Title = "Contact";
}

@section head{
    <link href="~/Css/ContactCss.css" rel="stylesheet" id="bootstrap-css">
}

<h2>@ViewBag.Title.</h2>

<div class="info">
    
    <address>
        <strong>Elite K_9</strong>
        <br>5617 South Tacoma Way
        <br>Tacoma, Washington
        <br>
    </address>
    <address>
        <abbr title="Phone">P:</abbr>(253) 209-5893
        <br>
        <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
    </address>
    <a href="https://www.facebook.com/EliteK9Tacoma/"> <img src="~/images/f-ogo_RGB_HEX-58.png" /> </a>    
    
</div>