@model IEnumerable<EliteK9.Models.FAQ>

@{
    ViewBag.Title = "FAQ";
}

@section head{   
    <link href="~/Css/FAQCss.css" rel="stylesheet" id="bootstrap-css">
}
@*Im choosing to add the section head content to the layouts head.*@


<h2>FAQ</h2>

@foreach (var item in Model)
{

    <div class="faq_container">
        <div class="faq">
            <div class="faq_question"> @Html.DisplayFor(modelItem => item.Question)</div>
            <div class="faq_answer_container">
                <div class="faq_answer">&nbsp; &nbsp; &nbsp; &nbsp; @Html.DisplayFor(modelItem => item.Answer)</div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script type="text/javascript" src="~/JS/FAQ.js"></script>
}
@* adding this script which is now rendered on layout page after its script contents.*@

