@{
    ViewBag.Title = "Home Page";
}

<head>
    <!--<link rel="stylesheet" type="text/css" href="~/Css/HomePageCss.css" /> -->
    <link href="~/Css/HomePageCss.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>



<body class="darkenBG">

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <!--
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Cover</h3>
                        <ul class="nav masthead-nav">
                            <li class="active">
                                <a href="http://bootsnipp.com/iframe/g6GWQ" target="_blank">View full screen</a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="inner cover">
                    <h1 class="cover-heading title">Elite K_9.</h1>
                    <p class="lead">
                        <i>
                            "Understanding your dog and knowing how to control him, develop his potentials, and resolve behavior problems,
                            emotional conflicts and frustrations are no less essential than love and respect."  -Michael Fox
                        </i>

                        
                    </p>
                    
                    <div class="row btnSpacing">
                        <div class="col-lg-4">
                            <div class="col-sm-12">
                                <p class="lead">
                                    <a class="btn btn-lg btn-info" href="@Url.Action("Services", "Scheduling")">
                                        Services
                                        Offered
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-sm-12">
                                <p class="lead">
                                    <a class="btn btn-lg btn-info" href="@Url.Action("Schedule", "Scheduling")">
                                        Class
                                        dates/times
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-sm-12">
                                <p class="lead">
                                    <a class="btn btn-lg btn-info" href="#">
                                        Class
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="mastfoot">
                            <div class="inner">
                                <!-- Validation -->
                                <p>
                                    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
                                       target="_blank"><small>HTML</small><sup>5</sup></a>
                                </p>


                                <p>
                                    <a href="https://github.com/twbs/bootlint"
                                       target="_blank"><small>Checked with Bootlint</small></a>
                                </p>


                                <p>
                                    © 2014 Your Name ~ <a href="http://getbootstrap.com/">Bootstrap</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="socialMedia">
        <a href="https://www.facebook.com/EliteK9Tacoma/"><img src="~/images/if_Facebook_571114.png" /></a>
    </div>


</body>



@*<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide center-block" data-ride="carousel" style="width: 80%; margin-top: 15px;">

            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="centerCarousel center-block" src="~/images/test4.png" alt="First Slide">
                </div>
                <div class="item">
                    <img class="centerCarousel center-block" src="~/images/test5.png" alt="Second Slide">
                </div>
                <div class="item">
                    <img class="centerCarousel center-block" src="~/images/test3.png" alt="Third Slide">
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>*@
















       




        





