@{
    ViewBag.Title = "Home Page";
}


@section head{
    <link href="~/Css/HomePageCss.css" rel="stylesheet" id="bootstrap-css">
}

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>Elite K9 offers everything from basic obedience to, agility, sports work and specialized service dog task training and public access training.</p>
            <p>Each client is given one on one personalized training. No group sessions. Our training methods use positive reinforcement and cue and correction training. We do not employ choke chains, pinch collars, E-collars or any dominant or fear tactic training. </p>
            <p>
                @Html.ActionLink("Classes Offered", "Services", "Scheduling", null, new { @class = "btn btn-default btn-lg" }) 
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Elite K_9</strong>
                <br>5617 South Tacoma Way
                <br>Tacoma, Washington
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(253) 209-5893
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
            </address>
            <a href="https://www.facebook.com/EliteK9Tacoma/"> <img src="~/images/f-ogo_RGB_HEX-58.png" /> </a>
        </div>
    </div>
    <div>
        @Html.Action("UserNotifications")
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog2.jpeg" alt="">
            <h2>Training Classes</h2>
            <p>We offer training classes for a variety of behaviors Including basic obedience, advanced obedience and many more. View our course description to pick what is right for you and your companion. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog7.jpeg" alt="">
            <h2>Class Schedule</h2>
            <p>Are class schedule shows the starting class for each series of classes. .If you viewed the classes we offered and know what class is right for you view our class schedule and send us an email to RSVP. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog6.jpeg" alt="">
            <h2>Trainers</h2>
            <p>At Elite K_9 we have experienced trainers who have built strong relationships between dogs and owners. Each trainer is knowledgable and dedicated to creating a better life for you and your dogs.</p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    
</div>
<!-- /.container -->
<!-- jQuery -->


@section scripts{
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
}