@{
    ViewBag.Title = "Home Page";
}


@section head{
    <link href="~/Css/HomePageCss.css" rel="stylesheet" id="bootstrap-css">
}

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"><b>Elite K_9</b></h1>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h2>What We Do</h2>
            <p>Elite K9 offers everything from basic obedience to, agility, sports work and specialized service dog task training and public access training.</p>
            <p>Each client is given one on one personalized training. No group sessions. Our training methods use positive reinforcement and cue and correction training. We do not employ choke chains, pinch collars, E-collars or any dominant or fear tactic training. </p>
            <p>
                <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>Elite K_9</strong>
                <br>5617 South Tacoma Way
                <br>Tacoma, Washington
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(253) 209-5893
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
            </address>
        </div>
    </div>
    <div>
        @Html.Action("UserNotifications");
    </div>
    <!-- /.row -->
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog2.jpeg" alt="">
            <h2>Training Classes</h2>
            <p>We offer training classes for a variety of behaviors Including basic obedience, advanced obedience and many more. View our course description to pick what is right for you and your companion. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog7.jpeg" alt="">
            <h2>Class Schedule</h2>
            <p>Are class schedule shows the starting class for each series of classes. .If you viewed the classes we offered and know what class is right for you view our class schedule and send us an email to RSVP. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="~/images/dog6.jpeg" alt="">
            <h2>Trainers</h2>
            <p>At Elite K_9 we have experienced trainers who have built strong relationships between dogs and owners. Each trainer is knowledgable and dedicated to creating a better life for you and your dogs.</p>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->


@section scripts{
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
}










@*<head>
        <!--<link rel="stylesheet" type="text/css" href="~/Css/HomePageCss.css" /> -->
        <link href="~/Css/HomePageCss.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    </head>



    <body class="darkenBG">

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <!--
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Cover</h3>
                            <ul class="nav masthead-nav">
                                <li class="active">
                                    <a href="http://bootsnipp.com/iframe/g6GWQ" target="_blank">View full screen</a>
                                </li>
                                <li>
                                    <a href="#">Features</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="inner cover">
                        <h1 class="cover-heading title">Elite K_9</h1>
                        <p class="lead">
                            <i>
                                "Understanding your dog and knowing how to control him, develop his potentials, and resolve behavior problems,
                                emotional conflicts and frustrations are no less essential than love and respect."  -Michael Fox
                            </i>


                        </p>

                        <div class="row btnSpacing">
                            <div class="col-lg-4">
                                <div class="col-sm-12">
                                    <p class="lead">
                                        <a class="btn btn-lg btn-info" href="@Url.Action("Services", "Scheduling")">
                                            Class Description
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-12">
                                    <p class="lead">
                                        <a class="btn btn-lg btn-info" href="@Url.Action("Schedule", "Scheduling")">
                                            Class
                                            Dates
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-12">
                                    <p class="lead">
                                        <a class="btn btn-lg btn-info" href="@Url.Action("Trainers", "Home")">
                                            Our
                                            Trainers
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="mastfoot">
                                <div class="inner">
                                    <!-- Validation -->
                                    <p>
                                        <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fbootsnipp.com%2Fiframe%2Fg6GWQ"
                                           target="_blank"><small>HTML</small><sup>5</sup></a>
                                    </p>


                                    <p>
                                        <a href="https://github.com/twbs/bootlint"
                                           target="_blank"><small>Checked with Bootlint</small></a>
                                    </p>


                                    <p>
                                        © 2014 Your Name ~ <a href="http://getbootstrap.com/">Bootstrap</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="socialMedia">
            <a href="https://www.facebook.com/EliteK9Tacoma/"><img src="~/images/if_Facebook_571114.png" /></a>
        </div>
    </body>*@





























