
@{
    ViewBag.Title = "Trainers";
}

<h2 id="title">Trainers</h2>

@section head{
    <meta name="description" content="Elite K9 Tacoma WA, Schedule training classes with our experienced trainers. 
          Best dog trainers in Tacoma.">
    <link href="~/Css/TrainersCss.css" rel="stylesheet" id="bootstrap-css">
}


<!------ Include the above in your HEAD tag ---------->
<div class="container" id="tourpackages-carousel">

    <div class="row">

        <div class="col-xs-18 col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="trainer" src="~/images/hannaMyers.jpg" alt="Hanna Myers">
                <div class="caption">
                    <h4>Hanna Myers</h4>
                    <p>
                        Hanna Myers fell in love with dogs at the age of eight. When her father took her to a search-and-rescue demonstration in Olympia. The founder of the group, Edith Goldman decided that day to use Hanna as a decoy for one of the dogs.she has been hooked ever since.
                        Over the past 21 years Hanna has worked hard to improve her knowledge of Canine behavior. She studied animal behavior and animal psychology at TCC. Attended numerous seminars and conferences. She is a member of assistance dogs international, a club leader for Therapy dogs international, a recognized AKC evaluator, trick dog evaluator and a certified Veterans center support team member.
                        It has been a life long passion to bring dogs and humans together through clear communication and understanding.
                        10 years ago, Hanna founded Elite K9. It has grown to become one of the most well known names in Washington.
                        In 2018 she founded Canine kinship. A non profit service dog program. That trains service dogs for those with disabilities free of charge.
                        There isn't a dog sport that Hanna hasn't done or knows everything about. She has dedicated her life to these amazing animals.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="trainer" src="~/images/sarahPerry.jpg" alt="Sarah Perry">
                <div class="caption">
                    <h4>Sarah Perry</h4>
                    <p>
                        Sara Perry has been with Elite K9 for the past 4 years. She started out as a client working with her own dog. She loved it so much she decided to take our 9 month trainers program to become a certified dog trainer.
                        She is now a recognised AKC evaluator and tester. She has been training with us for the piast two years.
                        Her love and passion is working with our service dog teams. But she also specializes in behavioral modification and works heavily with rescues and foster groups.
                        Sara continues to expand her knowledge of dogs and thier relationships with humans.
                        She hopes one day to be able to run her own dog training business. She has plenty of practice with her 8 rescue dogs at home.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="trainer" src="~/images/paulGrosart.jpg" alt="Paul Grosart">
                <div class="caption">
                    <h4>Paul Grosart</h4>
                    <p>
                        Paul Grosart has been with Elite K9 for two years. He started out working with us as a client in our service dog program. He excelled in training with his terrier mix Geordi.
                        Paul had been working with rescue dogs before coming to Elite K9. He has two wonderful terrier rescues and just added a third puppy to the mix.
                        Paul trains only in positive reinforcemt methods and strives to learn  new and improved  ways to engage with his dogs and clients. Building relationships through clear communication is key.
                        He is always looking for the best way to make training positive, productive and fun.
                    </p>
                </div>
            </div>
        </div>
        @*<div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/500x300" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>16.) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                </div>
            </div>
        </div>*@
    </div><!-- End row -->
</div><!-- End container -->

@section scripts{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}