@model IEnumerable<EliteK9.Models.Notifications>

<h2>
    Announcements
</h2>


@foreach (var item in Model) {
    <div class="row">
        <div class="col-lg-2" style="font-size: larger">
            @Html.DisplayFor(modelItem => item.Title)  -
        </div>
        <div class="col-lg-10">
            @Html.DisplayFor(modelItem => item.NotificationText)
        </div>
    </div>
    <br />
       
}


